html, body { 
 
  
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}



.container {
	      width: 98% !important;
max-width: none !important;
  margin: auto;
  overflow:auto;

}

@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}



ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  body
  {
    background:grey;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

}

.carousel-caption {
    top: 30%;
    bottom: auto;
}


.navbar .navbar-brand {
    color: #fcfcfc;
}

.active a{
	color: #fcfcfc; 
}
	
.nav1 a{
	color: #fcfcfc; 
}

.navbar-toggle.collapsed .glyphicon-chevron-up:before {
    content: "\e260" !important;
}

.navbar-toggle .glyphicon-chevron-up:before {
    content: "\e114" !important;
}

/* ul li.nav1:hover {
  color: red;
  background-color: red;
}*/

.carousel-indicators {
  top: 900px;
}




.grey-box1{
	background-color: gray;
	height: 400px;
	width: 500px;
	margin-bottom: 10px;
	font-size: 2em;
	text-align: center;
	padding: 80px;
}
.grey-box2{
	background-color: red;
	height: 200px;
	width: 500px;
	margin-top: 200px;
	font-size: 2em;
	text-align: center;
	padding: 80px;

}

.item {

	 background-color:rgba(0,0,0,0.5);
}

.item .active{

	 background-color:rgba(0,0,0,0.5);
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
.carousel-caption h3 {
		font-size: 1em;
	}
	.carousel-caption p {
		font-size: 1em;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
.carousel-caption h3 {
		font-size: 2em;
	}
	.carousel-caption p {
		font-size: 2em;
	}
}

@media only screen
and (max-width : 736px) {
.carousel-caption h3 {
		font-size: 1.5em;
	}
	.carousel-caption p {
		font-size: 1.5em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
.carousel-caption p {
		font-size: 1em;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
.carousel-caption h3 {
		font-size: 4em;
	}
	.carousel-caption p{
		font-size: 2em;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
.carousel-caption h3 {
		font-size: 4em;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.carousel-caption h3 {
		font-size: 3em;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 900px) {
	.carousel-caption h3 {
		font-size: 3em;
	}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.carousel-caption h3 {
		font-size: 4em;

	}
	.carousel-caption p{
		font-size: 1.5em;
	}
}



/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 0px)
and (max-device-width : 568px)
and (orientation : landscape) {

	.carousel-caption h3 {
		font-size: 2em;
	}
}

